body{
  width: clamp(400px, 90%, 650px);
  margin:auto;
}
.example-box{
  border-bottom:3px solid #2e2e2e;
  padding:3rem 0;
}
.example-box:last-child{
  border:none;
}

#fav-food{
  border-bottom:2px solid black;
  display:inline-block;
  width:200px;
  font-size:1.2rem;
  color: #c00c0c;
  line-height: 1.2rem;
}
.row{
  display: flex;
  gap:1.75rem;
}
.picture-box{
  padding:1rem;
  overflow: hidden;
  margin-bottom:2rem;
  background-color:#f7f7f7;
  border:2px solid #2e2e2e;
}
img{
  height: 300px;
  width:auto;
  display: block;
  margin:0 auto;
  
}

#color-text{
  text-align: center;
  font-size:1.25rem;
  padding:2.5rem;
  margin:1rem;
  border:2px solid #2e2e2e;
  border-radius:.4rem;
  line-height: 1.3;
}
.clr-lbl{
  padding:1.5rem 0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  gap:1rem;
  width:80%;
  margin:auto;
}
.clr-lbl > *{
  flex-basis:100%;
}
input[type="color"]{
  width: clamp(100px, 50%, 250px);
  margin:auto;
  display:block;
}

.happy{
  color:mediumpurple;
  background-color:cyan;
}